@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
    background-color: #EEE;
}

#result:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.searchmatch {
  font-weight: 700;
  color: #A84FFF
}

#link:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}